includes:
    - phpstan-baseline.neon

parameters:
    level: 5

    paths:
        - src

    ignoreErrors:
        - '#Unsafe usage of new static#'

    tmpDir: build/phpstan

    checkOctaneCompatibility: true

    checkModelProperties: true

    checkMissingIterableValueType: false

    checkGenericClassInNonGenericObjectType: false
